*{
box-sizing: border-box;

}
header {
background-color: #e6b0b2;
color: white;
padding: 40px; 
display: flex;
align-items: center;
width: auto;
}
header img {
width: 200px; 
height: auto; 
margin-right: 10px;
}
header h2 {
text-align: center;
flex-grow: 1;
}

nav {
background-color: #f0d1d2; 
padding: 10px; 
font-size: 12pt;
}

nav ul {
list-style-type: none;
display: flex;
justify-content: space-between;
width: 98%;
}
nav ul li a {
color: white;
text-decoration: none;
display: block;
}

.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 100px;
}

img {
   max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


body {
            font-family: Times New Roman, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }


        h1 {
            margin-top: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 2rem;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1rem;
        }

        th,
        td {
            padding: 0.5rem;
            text-align: center;
            border: 1px solid #333;
        }

        th {
            background-color: #f4f4f4;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
  
  
  
  main {
padding: 10px;
line-height: 85px;
color: #333;
font-size: 20px;
text-align:left;
}
main img {
width: 500px;
height: 650px;
margin-right: 100px;
}
.container {
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
    padding: 20px;
}

.image {
    flex: 1;
    text-align: center;
}

footer {
background-color: #e6b0b2; 
color: white;
text-align: center; 
position: ;
width: 100%; 
padding: 5px; 
margin-top: 135px;
margin-bottom: 0px;
}
footer images{
text-align: center; 
position: center;
width: 10%; 
padding: 5px; 
margin-top: 135px;
margin-bottom: 0px;
}
. text-container {
 max-width: 1200px;
}